<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-4-desktop">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column is-12-mobile is-8-desktop">
                    <p class="title is-size-4-desktop is-size-5-touch is-size-3-tablet is-size-3-fullhd is-size-3-widescreen is-uppercase has-text-weight-bold">Hasan Tarhan</p>
                    <p class="subtitle is-size-6">{{site.author-about}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
