<footer id="footer">
    <!--Footer Button-->

    <!--Footer Main Section-->
    <div class="has-background-grey-darker">
        <div class="container columns">
            <!--Name Section-->
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <a href="{{site.baseurl}}/#about">
                    <div class="columns">
                        <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-quarter-tablet">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{site.author-image}}">
                            </figure>
                        </div>
                        <div class="column is-marginless">
                            <h5 class="has-text-grey-lighter">{{site.author-name}}</h5>
                            <div class="content has-text-grey">
                                <p>{{site.author-about | truncate: 105 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Link Section -->
            <div class="column has-text-white is-size-3" style="display: flex; gap: 10px;"> <!-- Örneğin burada is-size-3 sınıfını kullanarak metin boyutunu büyütebilirsin -->

                {% unless site.instagram_username == "" %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-white"><i class="fab fa-instagram"></i></a>
                {% endunless %}

                {% unless site.twitter_username == "" %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-white"><i class="fab fa-twitter"></i></a>
                {% endunless %}

                {% unless site.youtube_channel == "" %}
                <a href="http://www.youtube.com/{{youtube_channel_id}}" target="_blank" class="has-text-white"><i class="fab fa-youtube"></i></a>
                {% endunless %}

                {% unless site.email == "" %}
                <a href="mailto:{{site.email}}" target="_blank" class="has-text-white"><i class="fas fa-envelope"></i></a>
                {% endunless %}
            </div>




          
        </div>
    </div>
</footer>